{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <br>
            <h1>Entradas sobre {{ category.name }}</h1>
        </div>
    </div>
    {% include 'WixetBlogBundle:Default:blogEntryList.html.twig' %}

{% endblock %}
