{% extends 'base.html.twig' %}
{% block title %}{% trans with {'%category%': category.name} %}Entradas sobre %category%{% endtrans %}{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <br>
            <h1>{% trans with {'%category%': category.name} %}Entradas sobre %category%{% endtrans %}</h1>
        </div>
    </div>
    {% include 'WixetBlogBundle:Default:blogEntryList.html.twig' %}

{% endblock %}
