{% extends 'base.html.twig' %}
{% block title %}{% trans with {'%tag%': tag.name} %}Entradas relacionadas con %tag%{% endtrans %}{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-12">
            <br>
            <h1>Entradas relacionadas con {{ tag.name }}</h1>
        </div>
    </div>
    {% include 'WixetBlogBundle:Default:blogEntryList.html.twig' %}
{% endblock %}
