{% extends 'knp_menu.html.twig' %}
{% block label %}
    {{ parent() }}

    {% if item.extra('image') is not null %}
        <div class='comentor-img'>
            <img src='{{ item.extra('image') }}'>
        </div>
    {% endif %}
{% endblock %}