<div class="single-blog">
    <h2>Tags</h2>
    <div class="archive-list">
        <ul>
            {% for tag in tags %}
                <li><a href="{{ url('wixet_blog_default_taglist', {'slug': tag.slug}) }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>